# Compiled python modules
*.pyc
*.pyo
*.pyd
__pycache__

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask stuff
instance/
.webassets-cache

# SQLAlchemy stuff
*.db
*.sqlite

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.cache
.pytest_cache
.pytest_cache/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# The .vscode folder
../.vscode/

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Databases
*.sqlite
*.db

# Logs
logs/
*.log

# Werkzeug
werkzeug/

# Coverage
htmlcov/
.coverage

# Distribution / packaging
.Python
dist/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

.vscode